{% extends "base.html" %}

{% block title %}
    <title>About us</title>
{% endblock %}

{% block content %}
    <center><h1>FavLinks</h1></center>
    

    <section id="introduction">
        <h2>Introduction</h2>
        <p>Welcome to FavLinks! This application allows users to save and manage their favorite links in one place, providing an organized and efficient way to keep track of valuable online resources.</p>
    </section>

    <section id="features">
        <h2>Features</h2>
        <ul>
            <li>Add, edit, and delete favorite links</li>
            <li>Search functionality to easily find links</li>
            <li>User authentication and authorization</li>
        </ul>
    </section>

    <section id="technology">
        <h2>Technology Stack</h2>
        <p>This project is built using the following technologies:</p>
        <ul>
            <li><strong>Frontend:</strong> HTML, CSS, JavaScript, Bootstrap</li>
            <li><strong>Backend:</strong> Django</li>
            <li><strong>Database:</strong> SQLite</li>
            <li><strong>Hosting:</strong> PythonAnywhere</li>
        </ul>
    </section>

    <section id="usage">
        <h2>Usage Instructions</h2>
        <p>To get started with FavLinks:</p>
        <ol>
            <li>Register for a new account or log in if you already have one.</li>
            <li>Start adding your favorite links by clicking on the 'Add Link' button.</li>
            <li>Organize your links into folders for better management.</li>
            <li>Use the search bar to quickly find the link you need.</li>
        </ol>
    </section>

    <section id="developer">
        <h2>About the Developer</h2>
        <p>Hi, I'm <b>Tun Kedsaro</b>, a passionate web developer with experience in Django and web application development. I created this project to demonstrate my skills and provide a useful tool for managing favorite links.</p>
    </section>

    <section id="contact">
        <h2>Contact Information</h2>
        <p>If you have any questions or would like to get in touch, please contact me at <a href="mailto:tunkedsaro@gmail.com">tunkedsaro@gmail.com</a>.</p>
    </section>

{% endblock %}
