{% extends "base.html" %}

{% block title %}
    <title>Population information form x</title>
{% endblock %}

{% block content %}
    <center><h1>Edit your favorite link</h1></center>
    <form method = "post">
        {% csrf_token %}
        <div class="form-group">
            <label for="name">Give me new favorite link</label>
            <input type="text" name="name" class="form-control" value="{{person.name}}">
        </div>        

        <div class="form-group">
            <label for="name">Tag</label>
            <input type="text" name="tag" class="form-control"  value="{{person.tag}}">
        </div>
        <br>
        <input type="submit" value="save" class="btn btn-success">
    </form>
{% endblock %}


